This is based on the tutorial from https://code.visualstudio.com/docs/datascience/data-science-tutorial

Importing pandas, the python data handling and analysis library. Then read the csv file with our sample data into a pandas dataframe object, and print out a record to show the structure of the data. Learn about pandas at https://www.w3schools.com/python/pandas/default.asp

In [10]:
import pandas as pd # type: ignore
data = pd.read_csv('titanic3.csv')

Let's now do a query, to get all of the people who paid more than Â£200 for their fare. Note this will return people who booked multiple cabins.

In [33]:
wealthy = data.query('fare > 200')
passenger49 = data.query('index == 49')
name = passenger49['name']
cabin = passenger49['cabin']
print(name)
print(cabin)
#get all passengers in that cabin

49    Cardeza, Mr. Thomas Drake Martinez
Name: name, dtype: object

If we look at the dataframe this returns, we can see that passenger 49 had three of the most luxurious and expensive Parlour Suites. We can even find out about those suites and what they looked like using the Titanic wiki online https://titanic.fandom.com/wiki/Cabins_B-51/53/55 

<img src='../B51Adam.png'></img>

Importing NumPy, a Python library for working with arrays, doing stats and more. https://www.w3schools.com/python/numpy/default.asp

In [34]:
import numpy as np # type: ignore

Now we do a bit of data cleaning. The source data has question marks in fields where no data is available. If we want these fields to be numerical, we can't have that. So we replace all of the question marks with NaN (not a number) which is recognised by the numpy library. Age and fare can then be converted to numerical fields (float64 as some data has decimal points, e.g. a fare of 212.50).

In [35]:
data.replace('?', np.nan, inplace= True)
data = data.astype({"age": np.float64, "fare": np.float64})

Importing Matplotlib https://www.w3schools.com/python/matplotlib_intro.asp
and Seaborn https://seaborn.pydata.org/ libraries for visualising the data

In [36]:
import matplotlib # type: ignore
import seaborn # type: ignore