In [6]:
import pandas as pd
import numpy as np
data = pd.read_csv('titanic3.csv')
print(data.loc[2])

pclass                                     1
survived                                   0
name            Allison, Miss. Helen Loraine
sex                                   female
age                                      2.0
sibsp                                      1
parch                                      2
ticket                                113781
fare                                  151.55
cabin                                C22 C26
embarked                                   S
boat                                     NaN
body                                     NaN
home.dest    Montreal, PQ / Chesterville, ON
Name: 2, dtype: object